@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgba: 248, 246, 247, 0.8;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgba(var(--background-rgba));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section_center {
  @apply w-2/3 mx-auto my-0;
}

.nav_active {
  @apply text-blue-700;
}

.smooth_transition {
  @apply transition-all duration-300;
}

/* Dropdwon settings */

.parent_dropdown {
  @apply relative;
}

.parent_dropdown:hover .child_dropdown {
  @apply block;
}

.child_dropdown {
  @apply absolute left-0 top-[100%] hidden overflow-auto max-h-[300px] rounded-sm shadow-sm border-2 border-gray-200 z-10;
}
